.redirect-cont {
  display: flex;
  flex-direction: column;
  background: #f7f8fa;
  height: 100vh;
  max-width: 360px;
  margin: 0 auto;
  justify-content: center;
}

.redirect-cont img {
  width: 100%;
  margin-top: 30px;
  box-shadow: 3px -1px 52px -14px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px -1px 52px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px -1px 52px -14px rgba(0, 0, 0, 1);
}

.redimg-cont {
  padding: 10px;
}

.backtobtn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f8fa;
}

.backtobtn {
  width: 90%;
  height: 40px;
  background: #5a7360;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  margin-top: 30px;
}
