.admin-log-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.admin-log-cont-red {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
  border-radius: 20px;
}
.admin-log-cont-red h1 {
  font-size: 24px;
  margin-top: auto;
}

.admin-log-cont-red button {
  width: 200px;
  height: 40px;
  margin: auto;
  background: #5a7360;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.admin-log-cont h1 {
  margin: 30px 0 20px 0;
}

.form-admin {
  display: flex;
  flex-direction: column;
}

.form-admin label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #353535;
  margin: 10px 10px;
}

.txt-input {
  padding: 10px;
  gap: 10px;
  border: 1px solid rgba(53, 53, 53, 0.6);
  border-radius: 10px;
  width: 320px;
  height: 20px;
}

form a {
  margin: 5px 14px;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.admin-submit-btn {
  width: 300px;
  height: 40px;
  margin: auto;
  background: #5a7360;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.forb-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forb-container h3 {
  margin: 0;
}

.forb-container button {
  padding: 12px 32px;
  gap: 10px;
  width: 186px;
  height: 38px;
  background: #5a7360;
  border-radius: 20px;
  border: none;
  color: white;
  margin: 10px;
}

.try-again-btn {
  margin: 5px 5px;
  padding: 8px 20px;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  color: #f64c4c;
  background: rgba(246, 76, 76, 0.2);
  margin-top: 0px;
}
